body { 
  background-color: #DCC9B6;
  color: black;
  padding: 10px; 
  margin-left: 100px; 
  margin-right: 100px;
  font-family: serif;
  font-size: 20px;
  text-align: left;
} 

h1 {
    	text-align: center;
	color: #6D4C3D;
	border: solid #727D71;
	width: 50%;
	padding: 15px;
	margin: auto;
}

nav { 
	font-size: 25px;
	color: #B7B7A4;
	list-style: none; 
	display: inline-flex;
	margin-left: 200px; 
	margin: auto;
} 

nav li { 
	display:block;
	display: inline-flex;
	flex: 1;
	border:1px solid black;
	float: left;
	padding: 10px;
	margin-right: 10px;	
	margin-left: 10px;	
	font-family: serif;	
	font-size: 25px;
	margin: auto;
}

li { 
	text-align: left; 
} 

nav a:hover { 
    background-color: #DDBEA9;
}

nav a:active { 
	background-color: #DDBEA9;
}

a { 
	color: #191970;
	font-family: serif;
}
