body { 
  background-color: #FFE8D6;
  color: black;
  padding: 10px; 
  font-family: serif;
  font-size: 20px;
  text-align: center;
} 

h1 {
    text-align: center;
	color: #6B705C;
	border: solid #CB997E;
	width: 35%;
	padding: 15px;
	margin: auto;
}

nav { 
	font-size: 25px;
	color: #B7B7A4;
	list-style: none; 
	display: inline-flex;
	margin: auto;
} 

nav li { 
	display:block;
	display: inline-flex;
	flex: 1;
	border:1px solid black;
	float: left;
	padding: 10px;
	margin-right: 10px;	
	margin-left: 10px;	
	font-family: serif;	
	font-size: 25px;
	margin: auto;
}

nav a:hover { 
    background-color: #DDBEA9;
}

nav a:active { 
	background-color: #DDBEA9;
}

a { 
	color: #191970;
	font-family: serif;
}
