p { 
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 300px;
   	text-align: justify;	
}

img { 
	float: left;
	margin-right: 100px;
   	margin-left: 100px;
	padding: 20px;
	height: auto; 
    	width: auto; 
   	max-width: 700px; 
  	max-height: 700px;
}
