body { 
  background-color: black;
  border: dashed red;
  color: white;
  text-align: center;
  padding: 10px; 
  font-family: serif;
  font-size: 18px;
} 

h1 {
    text-align: center;
	color: yellow;
	border: solid blue;
	margin: auto;
	width: 30%;
	padding: 10px;
}

nav { 
	font-size: 20px;
	margin: 20px;
    width: 3000px;
    font-family: sans-serif;
} 

nav li { 
	display:block;
	width:380px;
	border:1px solid white;
	float: left;
	text-align: center;
}

a { 
	color: white;
	display:block;
	padding:3px;
}
