body { 
  background-color: black;
} 

body { 
  color: white;
} 

body { 
  font-family: serif;
} 

body { 
  border: dashed red;
} 


h1 {
    text-align: center;
}

nav { 
       	padding:4px;
        text-align: center; 
        color: white; 
        font-family: serif; 
} 

